.searchField > .mud-input.mud-input-filled {
    border-radius: 4px !important;
}

.searchField > .mud-input > input.mud-input-root.mud-input-root-filled, div.mud-input-slot.mud-input-root.mud-input-root-filled {
    padding: 12px 12px 10px;
}

.index-banner {
    background-image: url("../img/castle_nathria.jpg");
    background-position: top;
}

.table-btn > .mud-button-label {
    justify-content: left;
}

.mud-nav-link.active:not(.mud-nav-link-disabled) {
    color: white;
}

.mud-badge-bordered {
    border-color: #27293D !important;
}