@page "/"
@namespace WowIndex.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="wow, leaderboard, progression, worldfirst, rtwf, method, complexity-limit, echo, castle-nathria, shadowlands, world, of, warcraft, rankings, guild, progress, top, best, realm, server, achievement, armory, raid, instance, pve, character, player, boss, kill, rating, strategy, statistic, recruitment" />
    <meta name="description" content="Tracks the world first race in the latest raid in world of warcraft" />
    <title>WowIndex</title>
    <base href="~/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="WowIndex.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%2327293d%22></rect><path fill=%22%23ff8e00%22 d=%22M35.27 54.45L30.85 29.14L27.18 29.14L22.80 54.45L21.95 54.75L20.98 54.53L18.46 27.92L14.19 28.66L17.16 55.90L19.46 58.16L21.87 58.76L24.32 58.16L26.58 55.90L29.03 39.54L31.45 55.90L33.75 58.16L36.16 58.76L38.61 58.16L40.87 55.90L43.84 28.66L39.57 27.92L37.09 54.53L36.08 54.75L35.27 54.45ZM33.75 75.42L22.32 75.42Q18.57 75.42 15.53 74.31Q12.48 73.19 10.35 71.26Q8.21 69.33 7.06 66.75Q5.91 64.18 5.91 61.28L5.91 61.28L5.91 38.72Q5.91 35.82 7.06 33.25Q8.21 30.67 10.35 28.74Q12.48 26.81 15.53 25.69Q18.57 24.58 22.32 24.58L22.32 24.58L33.75 24.58Q37.49 24.58 40.54 25.69Q43.58 26.81 45.71 28.74Q47.85 30.67 49.00 33.25Q50.15 35.82 50.15 38.72L50.15 38.72L50.15 61.28Q50.15 64.18 49.00 66.75Q47.85 69.33 45.71 71.26Q43.58 73.19 40.54 74.31Q37.49 75.42 33.75 75.42L33.75 75.42ZM72.04 54.68L63.29 54.68L63.29 58.61L84.73 58.61L84.73 54.68L76.01 54.68L76.01 31.85L84.73 31.85L84.73 27.92L63.29 27.92L63.29 31.85L72.04 31.85L72.04 54.68ZM66.25 24.58L77.68 24.58Q81.43 24.58 84.47 25.69Q87.52 26.81 89.65 28.74Q91.79 30.67 92.94 33.25Q94.09 35.82 94.09 38.72L94.09 38.72L94.09 61.28Q94.09 64.18 92.94 66.75Q91.79 69.33 89.65 71.26Q87.52 73.19 84.47 74.31Q81.43 75.42 77.68 75.42L77.68 75.42L66.25 75.42Q62.51 75.42 59.46 74.31Q56.42 73.19 54.29 71.26Q52.15 69.33 51.00 66.75Q49.85 64.18 49.85 61.28L49.85 61.28L49.85 38.72Q49.85 35.82 51.00 33.25Q52.15 30.67 54.29 28.74Q56.42 26.81 59.46 25.69Q62.51 24.58 66.25 24.58L66.25 24.58Z%22></path></svg>" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script>
        window.blazorOpen = (args) => {
            window.open(args);
        };
    </script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="_content/ChartJs.Blazor.Fork/ChartJsBlazorInterop.js"></script>
</body>
</html>
