@page "/"

<ul>
    @foreach (var item in GuildRankingsList)
    {
        <li>item.RealmName</li>
    }
</ul>



@code {
    public List<GuildRanking> GuildRankingsList = new List<GuildRanking>();

    //HORDE REQUEST FOR TOP 100
    //URL : https://us.api.blizzard.com/data/wow/leaderboard/hall-of-fame/castle-nathria/horde?namespace=dynamic-us&locale=en_US&access_token=USOnT59Qy4a16BgShX3ktbzt0SeqzoljP2

    //ALLIANCE REQUEST FOR TOP 100
    //URL : https://us.api.blizzard.com/data/wow/leaderboard/hall-of-fame/castle-nathria/alliance?namespace=dynamic-us&locale=en_US&access_token=USOnT59Qy4a16BgShX3ktbzt0SeqzoljP2


    // API CONNECTION
    public HttpClient apiConnection()
    {
        var APIclient = new HttpClient();
        APIclient.BaseAddress = new Uri("");

        return APIclient;
    }

    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await apiConnection().GetAsync("https://us.api.blizzard.com/data/wow/leaderboard/hall-of-fame/castle-nathria/horde?namespace=dynamic-us&locale=en_US&access_token=USOnT59Qy4a16BgShX3ktbzt0SeqzoljP2");

        GuildRankingsList = new List<GuildRanking>();
        if (apiResponse.IsSuccessStatusCode)
        {
            var result = apiResponse.Content.ReadAsStringAsync().Result;
            GuildRankingsList = JsonConvert.DeserializeObject<List<GuildRanking>>(result);

            StateHasChanged();
        }
    }
}
